@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 16px rgba(77, 85, 76, 0.384);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{ color: #8dad65;
    text-align: center;
    text-shadow: 1px 1px 2px #76915498;

}

h2{
    color: #B9E088;
}

body{
    background-image: linear-gradient(to right,#DFE0C1,#C5E0C1,#D2E0C1 );
}

p {
    text-align: justify;

}