@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #6A6B83,#76949F);
}

main {background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #302029b9;
width:600px;
padding:10px;
margin:auto;
}

h1{
    color: #533747;
    text-align: center;
    text-shadow: 1px 1px 2px #30202977;

}

h2{
    color: #5F506B;

}


p {
    text-align: justify;
}